*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80vh auto 50vh;
    grid-template-areas: 
    'header header'
    'main main'
    'footer footer'
    ;
}

header{
    grid-area: header;
}

.slider{
    position: relative;
    overflow: hidden;
}

.slide{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s ease-in-out;
}

.slide.active{
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

.slide.prev{
    transform: translateX(-100%);
    z-index: 1;
}

.content-header{
    position: fixed;
    z-index: 4;
    top: 10%;
    left: 50%;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    backdrop-filter: blur(2px);
    transform: translate(-50%, -50%);
}

.content-header h1{
    font-size: 2rem;
}

#btn-response{
    width: 15%;
    height: 50%;
    background: transparent;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
}

.content-header-bottom{
    width: 80%;
    padding: 6%;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 5%;
    border: 2px solid black;
    border-radius: 3%;
    backdrop-filter: blur(5px);
}

#menu{
    display: none;
    position: fixed;
    right: 0;
    top: 18vh;
    width: 50%;
    height: 62vh;
    backdrop-filter: blur(10px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#menu.ativo{
    display: block;
}

ul{
    display: flex;
    align-items: center;
    gap: 7%;
    width: 100%;
}

ul li{
    width: 100%;
    display: flex;
    justify-content: center;
}

ul li button{
    background: none;
    border: 2px solid black;
    color: black;
    width: 85%;
    height: auto;
    padding: 8%;
}

aside{
    display: none;
}

main{
    grid-area: main;
    background-color: whitesmoke;
}

footer{
    grid-area: footer;
    background-color: rgb(64, 64, 64);
}

.main-section{
    width: 100%;
    height: 100vh;
    padding: 10%;
}

.main-section article{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    border-radius: 5%;
    overflow: hidden;
    padding-bottom: 1%;
}

.motivar{
    height: 75%;
    width: 100%;
    overflow: hidden;
}

.motivar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-article{
    width: 40%;
    height: 85%;
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(201, 200, 194);
    transition: all 0.5s ease-in-out;
}

.btn-article:hover{
    cursor: pointer;
    background-color: rgb(233, 197, 106);
}

.nav-section{
    height: 35vh;
    width: 100%;
    display: flex;
    padding: 1% 5%;
    gap: 1%;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(54, 54, 54);
}

.nav-section div{
    width: 23%;
    height: 63%;
    border: 1px solid rgb(199, 4, 69);
    border-radius: 5%;
    background-color: rgb(86, 87, 86);
    text-align: center;
    color: aliceblue;
    font-size: 100%;
    padding: 3% 1%;
    display: flex;
    flex-direction: column;
    gap: 6%;
}

.about-section{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 5%;
    gap: 5%;
    align-items: center;
    background-color: rgb(54, 54, 54);
    text-align: center;
}

.about-section div{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.about-section article{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 10px 10px 10px black;
    border-radius: 5%;
    overflow: hidden;
    padding-bottom: 2%;
}

.diamond{
    width: 15%;
    height: 30%;
    border-radius: 50%;
    position: relative;
    top: -30px;
    left: -14%;
    text-align: center;
    border: 2px solid black;
    background-color: rgb(73, 73, 73);
}

.services{
    width: 100%;
    height: 130vh;
    padding: 4%;
    background-color: aliceblue;
}

.subService{
    width: 100%;
    height: 47%;
    display: flex;
    overflow: hidden;
    border-radius: 10px;
}

.subService div{
    width: 70%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.service-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid goldenrod;
    transition: all 0.5s ease-in-out;
}

.service-image:hover{
    cursor: pointer;
    width: 105%;
    height: 105%;
}

.promo-section{
    width: 100%;
    height: 200vh;
    padding: 2% 2%;
}

.div-promo{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article-promo{
    width: 45%;
    height: 95%;
    border: 1px solid black;
    border-radius: 10px;
}

.div-image-promo{
    width: 100%;
    height: 70%;
    overflow: hidden;
}

.div-detail-promo{
    width: 100%;
    height: 30%;
    padding: 2%;
}

.promo-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.acessorio-section{
    width: 100%;
    height: 150vh;
    background-color: rgb(215, 218, 218);
    padding: 2% 0;
}

.acessorio{
    width: 100%;
    height: 90%;
    padding: 8%;
}

.div-acessorio{
    width: 90%;
    height: 90%;
    display: flex;
    position: relative;
    margin-top: 5px;
}


.first-acessorio{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    left: 0;
    position: absolute;
    border: 1px solid rgb(175, 174, 174);
    width: 45%;
    height: 45%;
    overflow: hidden;
}

.second-acessorio{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    right: 0;
    position: absolute;
    border: 1px solid rgb(175, 174, 174);
    width: 45%;
    height: 45%;
    overflow: hidden;
}

.third-acessorio{
    display: flex;
    flex-direction: column;
    align-self: center;
    left: 33%;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    border: 5px solid rgb(175, 174, 174);
    width: 35%;
    height: 50%;
    overflow: hidden;
}

.fourth-acessorio{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    bottom: 0;
    position: absolute;
    border: 1px solid rgb(175, 174, 174);
    width: 45%;
    height: 45%;
    overflow: hidden;
}

.fifth-acessorio{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    bottom: 0;
    right: 0;
    position: absolute;
    border: 1px solid rgb(175, 174, 174);
    width: 45%;
    height: 45%;
    overflow: hidden;
}

.encomendas-section{
    height: 60vh;
    width: 100%;
    padding: 2%;
}

.div-encomendas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
}

.div-encomendas div{
    text-align: center;
    width: 45%;
    height: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.div-footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.div-footer div{
    width: 45%;
    height: 45%;
    text-align: center;
    border-top: 2px solid black;
    color: aliceblue;
}

.div-footer div p a{
    color: aliceblue;
}


@media(max-width: 768px){

    .nav-section{
        height: 38vh;
    }

    .diamond{
        width: 40%;
        height: 25%;
    }

    .services{
        height: 100vh;
    }

    .promo-section{
        height: 220vh;
        padding: 2% 1%;
    }

    .article-promo{
        height: 80%;
    }

    .div-image-promo{
        height: 50%;
    }

    .div-detail-promo{
        height: 35%;
        padding: 1%;
    }

    .acessorio-section{
        height: 100vh;
    }

    .acessorio{
        padding: 1%;
    }

    .div-acessorio{
        width: 100%;
    }

    .third-acessorio{
        width: 40%;
        height: 40%;
    }

    .encomendas-section{
        height: 75vh;
    }

    footer{
        height: 65vh;
    }

}